<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="room-title" slot="primary">
      Friends
    </ion-title>
    <ion-icon name="people" size="large" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">

  <ion-card>
    <ion-card-header>
      <ion-card-title color="light">Your friends</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="myFriends.length">
        <div *ngFor="let friend of myFriends">
          {{friend.nickname}}
        </div>
      </div>
      <div *ngIf="!myFriends.length">
        You don't have friend yet ;)
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="light">Add Friends</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item color="tertiary">
        <ion-label>
          Search by:
        </ion-label>
        <ion-select [(ngModel)]="selectedSearch">
          <ion-select-option *ngFor=" let search of searchBy">{{search}}</ion-select-option>
        </ion-select>
        <ion-input type="text" placeholder="{{selectedSearch}}" [(ngModel)]="searchString"></ion-input>
      </ion-item>
      <ion-button class="search-friend-button" (click)="searchSomeoneClick()">
        <ion-icon name="search"></ion-icon> Search
      </ion-button>

      <p *ngIf="noFriendFound">We don't found the guy you search</p>
      <!-- <ion-item *ngFor="let friend of possible_friend_to_add" color="tertiary">
        <app-user-item [SelectableUser]="selectableUser"></app-user-item>
        {{ friend.nickname }} <ion-button (click)="addToMyFriend(friend.uid)">Add</ion-button>
      </ion-item> -->
      <ion-list class="friends-list background-primary" *ngIf="display_possible_friend_list">
        <ng-container *ngFor="let friend of possible_friend_selectable">
          <app-user-item [SelectableUser]="friend"></app-user-item>
        </ng-container>
      </ion-list>
      <ion-button color="tertiary" (click)="addToMyFriend()">Add</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-item *ngIf="platform.is('mobile')">
    <ion-button (click)="onClickSuggestFriend()">Suggest me friend</ion-button>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
    <p *ngFor="let pfriend of suggested_friend">Possible friend: {{ pfriend.nickname}} <ion-button>Add</ion-button>
    </p>
  </ion-item>

</ion-content>