<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="room-title" slot="primary">
      Edit Profile
    </ion-title>
    <ion-icon name="contact" size="large" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user" padding color="dark">
  <ion-list class="background-tertiary">
    <ion-item color="tertiary">
      <ion-label position="stacked">Email : </ion-label>
      <ion-input [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <ion-item color="tertiary">
      <ion-label position="stacked">Nickname : </ion-label>
      <ion-input [(ngModel)]="user.nickname"></ion-input>
    </ion-item>

    <ion-item color="tertiary">
      <ion-label position="stacked">Picture url :</ion-label>
      <ion-input [(ngModel)]="user.pictureUrl"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full" color="danger" (click)="OnClickLogout()">
    <ion-icon slot="start" name="close"></ion-icon>
    Logout
  </ion-button>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" (click)="OnClickUpdateInfo()">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>