.room-title{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.chat{
    display: flex;
    flex-direction: column;

}

.message{
    .user{
        .avatar{
            height: 50px;
            width: auto;
            border-radius: 50%;
        }
        .name{
            
        }
    }
}

.message.current-user{
    .user{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .name{
            text-align: right;
        }
    }
    .message-content{
        text-align: right
    }
}