<ng-container *ngIf="(Room$ | async) as Room">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="room-title">
        {{ Room.name }}
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="OnMoreButtonClick()">
          <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content #content padding color="dark">
    <div class="chat">
      <app-message
        *ngFor="
          let message of Room.messages;
          let isLast = last;
          trackBy: TrackByCreatedAt
        "
        [Message]="message"
        [CurrentUser]="CurrentUser"
        [isLast]="isLast"
        (lastRendered)="ScrollToBottom()"
      ></app-message>
    </div>
  </ion-content>
  <ion-footer>
    <footer class="form">
      <ion-textarea
        class="message-input"
        placeholder="Enter your message here..."
        [(ngModel)]="newMessage"
        (keydown.enter)="SendMessage(Room.id)"
      ></ion-textarea>

      <ion-button
        class="send-button"
        color="secondary"
        (click)="SendMessage(Room.id)"
      >
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </footer>
  </ion-footer>
</ng-container>
