<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="room-title" slot="primary">
      Login
    </ion-title>
    <ion-icon name="log-in" size="large" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content padding color="tertiary">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Connectez vous au plus vite</ion-card-subtitle>
      <ion-card-title>Connexion</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!-- TEMP sign up component -->
      <ion-item>
        <ion-label position="stacked" for="phone">Phone number :</ion-label>
        <!-- TODO put space between digits https://stackoverflow.com/questions/50619823/angular-5-add-space-after-every-4-digit-in-input -->
        <ion-input
          required
          type="tel"
          name="phone"
          placeholder="+33 6 35 67 98 77"
          required
          [(ngModel)]="Phone"
        >
        </ion-input>
        <ion-icon name="call" slot="end"></ion-icon>
      </ion-item>
      <br />
      <div class="recaptcha-block">
        <div id="recaptcha-container"></div>
      </div>
      <div class="recaptcha-block">
        <ion-button size="default" (click)="Send()">Send Me a Code</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <div>
        <hr />
        <ion-item>
          <ion-label for="code" position="stacked"
            >Verification Code : </ion-label
          ><br />
          <ion-input
            type="text"
            name="code"
            maxlength="6"
            [(ngModel)]="Verification"
          ></ion-input>
          <ion-icon name="lock" slot="end"></ion-icon>
        </ion-item>
        <div class="recaptcha-block">
          <ion-button size="default" (click)="VerifyCode()">Verify</ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
