<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="room-title" slot="primary">
      Login
    </ion-title>
    <ion-icon name="log-in" size="large" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content padding color="tertiary">
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Connexion</ion-card-title>
      <ion-card-subtitle>Verify your phone number</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content [formGroup]="PhoneForm">
      <!-- TEMP sign up component -->
      <ion-item color="primary">
        <ion-label position="stacked" for="phone">Phone number :</ion-label>
        <ion-input
          type="tel"
          formControlName="phone"
          placeholder="+33 6 35 67 98 77"
        >
        </ion-input>
        <ion-icon name="call" slot="end"></ion-icon>
      </ion-item>
      <br />
      <div class="recaptcha-block" *ngIf="!IsAndroid">
        <div id="recaptcha-container"></div>
      </div>

      <ion-button
        size="default"
        expand="full"
        (click)="VerifyPhone()"
        color="secondary"
        [disabled]="!PhoneForm.valid"
        >Send Me a Code</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
