<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="room-title" slot="primary">
      Login
    </ion-title>
    <ion-icon name="log-in" size="large" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Connectez vous au plus vite</ion-card-subtitle>
      <ion-card-title>Connexion</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!-- TEMP sign up component -->
      <ion-item>
        <ion-label for="phone">Phone number :</ion-label>
        <!-- TODO put space between digits https://stackoverflow.com/questions/50619823/angular-5-add-space-after-every-4-digit-in-input -->
        <ion-input required type="tel" name="phone" placeholder="33 6 35 67 98 77" maxlength="11"
          [(ngModel)]="phoneNumber.number">
        </ion-input>
        <ion-icon name="call" slot="end"></ion-icon>
      </ion-item>
      <br>
      <div class="recaptcha-block">
        <div id="recaptcha-container"></div>
      </div>
      <div class="recaptcha-block">
        <ion-button size=default (click)="sendLoginCode()">Send Me a Code</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="windowRef.confirmationResult && !user">
    <ion-card-content>
      <div>
        <hr>
        <ion-item>
          <ion-label for="code">Verification Code : </ion-label><br>
          <ion-input type="text" name="code" maxlength="6" [(ngModel)]="verificationCode"></ion-input>
          <ion-icon name="lock" slot="end"></ion-icon>
        </ion-item>
        <div class="recaptcha-block">
          <ion-button size=default (click)="verifyLoginCode()">Verify</ion-button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item *ngIf="user">
      <div>
        You have successfully logged in with your phone number!
        UserId: {{ user?.uid }}
      </div>
    </ion-item>
  </ion-card>
  <ion-button *ngIf="user" (click)="logoutplz()" color="danger">Logout</ion-button>
  <ion-button (click)="showPseudo()">Show pseudo</ion-button>
</ion-content>