<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>Phone number :</ion-label>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input required type="text" placeholder="1" [(ngModel)]="phoneNumber.country"></ion-input>
          <ion-input required type="text" placeholder="949" [(ngModel)]="phoneNumber.area"></ion-input>
          <ion-input required type="text" placeholder="555" [(ngModel)]="phoneNumber.prefix"></ion-input>
          <ion-input required type="text" placeholder="5555" [(ngModel)]="phoneNumber.line"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Phone number :</ion-label>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input required type="password" placeholder="password" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-items-center>
        <ion-item>
          <ion-button size="default" color="primary">Submit</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>
    <div id="recaptcha-container"></div>
  </ion-item>
  <ion-item>
    <button (click)="sendLoginCode()">SMS Text Login Code</button>
  </ion-item>
  <ion-item>
    <div *ngIf="windowRef.confirmationResult">
      <hr>
      <label for="code">Enter your Verification Code Here</label><br>
      <input type="text" name="code" [(ngModel)]="verificationCode">

      <button (click)="verifyLoginCode()">Verify</button>
    </div>
  </ion-item>
  <ion-item>
    <div *ngIf="user">
      You have successfully logged in with your phone number!

      UserId: {{ user?.uid }}

    </div>
  </ion-item>
</ion-content>